<% var name = 'RintIanTta'; %>
<h1><%= name %></h1>
<p><%= 52 * 273 %></p>
<hr />
<% for (var i= 0; i< 10; i++) { %>
<h2>The Square of <%= i %> is <%= i * i %></h2>
<% } %>
<!-- ejs 페이지는 얼핏보면 HTML 페이지와 차이를 느끼지 못하지만 HTML 형식에서 살펴볼수 없는 특수한 태그와 그안에 자바스크립트 코드가 들어 있다.-->
